aws_region          = "us-east-2"
project             = "franquicias"
environment         = "dev"
mongodb_secret_name = "/franquicias/dev/mongodb-uri"
image_tag           = "latest"
desired_count       = 1
alb_certificate_arn = "arn:aws:acm:us-east-2:123456789012:certificate/example"

tags = {
  owner       = "platform"
  repository  = "Franquicias"
  cost-center = "reto-tecnico"
}
